.faStack{
	position: initial !important;
	left: 0 !important;
	width: 10% !important;
	margin-right: 30px;
	text-align: center;
	margin-bottom: 40px;
}

.mainDiv{
	margin-bottom: 40px;
}

.exp{
	margin-bottom: 40px;
}