@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body{
	background-color: #E7454C;
	width: 100%;
	height: 100%;
}

h1,h2,h3,h4,h5,p{
	margin: 0px;
	color:white;
	font-family: 'Open Sans Condensed', sans-serif;
}

.main{
	padding: 10px;
}