.faStack{
	position: initial !important;
	left: 0 !important;
	width: 10% !important;
	margin-right: 30px;
	text-align: center;
	margin-bottom: 40px;
}

.mainDiv{
	margin-bottom: 75px;
}

.design{
	height: 30px;
	background-color: white;
	margin-bottom: 15px;
}

.innerDesign{
	background-color: #2C3C4E;
	height: 30px;
	width: 70%;
	padding-left: 5%;
}

.coding{
	height: 30px;
	background-color: white;
	margin-bottom: 15px;
}

.innerCoding{
	background-color: #2C3C4E;
	height: 30px;
	width: 80%;
	padding-left: 5%;
}

.framework{
	height: 30px;
	background-color: white;
	margin-bottom: 15px;
}

.innerFramework{
	background-color: #2C3C4E;
	height: 30px;
	width: 75%;
	padding-left: 5%;
}